<template>
    <h1> Oi, gente. {{mensagem}} </h1>
</template>
<script>
    export default {        
        data: () => {
            return {
                mensagem: "Tudo bem? "    
            }
        }    
    }
</script>
