<!doctype html>
<html amp>
<head>
  <meta charset="utf-8">
  <title>amp-list</title>
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <script async custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js"></script>
  <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.1.js"></script>
  <link rel="canonical" href="https://ampbyexample.com/components/amp-list/">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <script async custom-element="amp-story" src="https://cdn.ampproject.org/v0/amp-story-1.0.js"></script>
  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
  <style amp-custom>

  .list-overflow {
    width: 160px;
    margin-left: auto;
  }

  #amp-list-placeholder div[role=list] {
    margin: 1rem;
  }

  .products {
      display: block;
      height: 100px;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      background: #fff;
      border-radius: 2px;
      margin-bottom: 15px;
      position: relative;
    }

  .products amp-img {
      float: left;
      margin-right: 16px;
  }

  #amp-list-placeholder ul.results {
      list-style: none;
      overflow: auto;
      margin-left: 1rem;
      padding: 0;
    }

  #amp-list-placeholder ul.results li {
         height: 100px;
         background: #fff;
         border-radius: 2px;
         margin-bottom: 15px;
         position: relative;
         box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  #amp-list-placeholder div[placeholder] ul.results li {
      background:
        linear-gradient(90deg, rgba(211, 211, 211, 0) 0, rgba(211, 211, 211, 0.8) 50%, rgba(211, 211, 211, 0) 100%),
        linear-gradient(#cccccc 100%, transparent 0),
        linear-gradient(#cccccc 100%, transparent 0),
        linear-gradient(#cccccc 100%, transparent 0),
        linear-gradient(#cccccc 100%, transparent 0);
      background-size:
        200px 100px,
        150px 100px,
        100px 10px,
        100px 10px,
        100px 10px;
      background-position:
        -150% 0,
        0 0,
        166px 4px,
        166px 29px,
        166px 53px;
      background-repeat: no-repeat;
      -webkit-animation: loading 1.5s infinite;
      animation: loading 1.5s infinite;
    }

    @-webkit-keyframes loading {
      to {
        background-position: 350% 0, 0 0,
        166px 4px,
        166px 29px,
        166px 53px;
      }
    }

     @keyframes loading {
       to {
         background-position: 350% 0, 0 0,
         166px 4px,
         166px 29px,
         166px 53px;
       }
     }

  </style>
</head>
<body>
    <amp-story standalone>
        <amp-story-page id="1">
            <amp-story-grid-layer template="fill">
                <amp-img width="400" height="400" src="https://fotos.vivadecora.com.br/366-quarto-campo-belo-300m2-patricia-kolanian-pasquini-viva-decora.jpg"></amp-img>
            </amp-story-grid-layer>
        </amp-story>
    </amp-story>
<!--       <amp-list
            layout="fixed-height"
            noloading
            src="decoracao.json"
            width="auto"
            height="400"
            single-item
            items="photos">
            <template type="amp-mustache">
                {{#images}}
                    {{url}}
                {{/images}}
            </template>
            </amp-list> -->
    </body>
</html>
