<template>
    <h1> Oi, gente. {{mensagem}} </h1>
</template>

<script>
    export default {        
        data: () => {
            return {
                mensagem: "Tudo bem? "    
            }
        }    
    }
</script>
<style scoped>
   body {
        background-color: #dedede;
   }
</style>


